/************************************* setup *************************************/
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");

:root {
  --color-primary: #000000;
  --color-primary2: #150050;
  --color-bg: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary2) 100%
  );
  --color-secondary: #5fbaff;
  --color-secondary2: #f5f5f5;

  --color-text-dark: #25252e;

  --header-size: 70px;

  --landing-safe-left: clamp(0.313rem, 2.5vw - 1rem, 1.125rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
  color: var(--color-secondary2);
}

body:has(.home)::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary2);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary2);
}

img {
  max-width: 100%;
  display: inherit;
}

/************************************* Utilities *************************************/

.empty-data {
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 22px;
}

.title {
  font-weight: 700;
  font-size: clamp(3.25rem, 5vw + 1rem, 4rem);
  background: linear-gradient(
    110deg,
    var(--color-secondary) 0%,
    var(--color-secondary2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
}

.title-dark {
  font-weight: 700;
  font-size: clamp(3rem, 5vw + 1rem, 3.5rem);
  background: linear-gradient(
    160deg,
    var(--color-primary) 0%,
    var(--color-primary2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
}

.subtitle {
  font-weight: 500;
  font-size: clamp(1.125rem, 1vw + 0.75rem, 1.375rem);
  background: linear-gradient(
    160deg,
    var(--color-primary) 0%,
    var(--color-primary2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.1;
  margin-bottom: 8px;
}

p {
  font-weight: 600;
  font-size: clamp(1.375rem, 1vw + 1rem, 1.75rem);
  line-height: 1;
  text-align: justify;
  color: var(--color-secondary2);
  width: 100%;
  white-space: pre-wrap;
}

.btn {
  background: linear-gradient(98.58deg, #5fbaff 0%, #f5f5f5 100%);
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-primary2);
  border: none;
  height: 44px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  margin: 0;
  transition: all 100ms linear;
  text-decoration: none;
  padding: 5px 50px;
}

.btn:hover {
  background: linear-gradient(98.58deg, #f5f5f5 0%, #5fbaff 100%);
}

/************************************* layout *************************************/
.app,
.app-main {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.app-main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--color-bg);
  z-index: -1;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15vw;
  background-color: var(--color-primary);
  z-index: 1000;
}

.app-header__logo {
  display: flex;
  align-items: center;
  color: var(--color-secondary2);
  text-decoration: none;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.app-header__logo img {
  height: 45px;
  margin-right: 15px;
}

@media (max-width: 600px) {
  .app-header__logo {
    font-size: 0;
  }
}

.app-header__first-name {
  color: var(--color-secondary);
  margin-right: 10px;
}

.app-header__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-secondary2);
  text-decoration: none;
}

.app-header__link:hover {
  font-weight: 600;
  color: var(--color-secondary);
  text-decoration: underline;
}

.section {
  min-height: 100vh;
  padding: var(--header-size) 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Footer */
.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 70px;
  background-color: var(--color-primary2);
}

@media (max-width: 800px) {
  .app-footer {
    padding: 40px 30px 120px;
  }
}

.app-footer__logo {
  display: flex;
  align-items: center;
  color: var(--color-secondary2);
  text-decoration: none;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.app-footer__logo img {
  height: 45px;
  margin-right: 15px;
}

.app-footer__first-name {
  color: var(--color-secondary);
  margin-right: 10px;
}

.app-footer__title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
}

.app-footer__title span {
  color: rgba(255, 255, 255, 0.5);
}

/************************************* Sections *************************************/

.section-landing__hello {
  font-weight: 700;
  font-size: clamp(6.25rem, 12vw + 3rem, 13.75rem);
  line-height: 0.7;
  color: #3A334F;
  text-transform: uppercase;
}

.section-landing__name,
.section-landing__work {
  font-weight: 700;
  font-size: clamp(1.875rem, 2vw + 1rem, 3rem);
  line-height: 1;
  padding-left: var(--landing-safe-left);
}

.section-landing__name span {
  color: var(--color-secondary);
}

.section-landing__work span {
  margin-left: 14px;
}

.section-landing__experiences {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: var(--landing-safe-left);
  margin-top: 10px;
}

.experience__years {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  background: linear-gradient(98.58deg, #5fbaff 0%, #f5f5f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.experience__label {
  font-weight: 700;
  font-size: 16px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-landing__content .social-links {
  padding-left: var(--landing-safe-left);
  margin-top: 20px;
}

.social-links__link {
  color: inherit;
  text-decoration: none;
  font-size: 40px;
}

/* Services */
.section-services__content {
  max-width: 1260px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  justify-content: center;
  grid-gap: 30px;
  width: 100%;
  padding: 50px 0;
}

.section-services__service {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -1px -3px 4px rgba(255, 255, 255, 0.38);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: clamp(1.625rem, 2vw + 1.25rem, 2rem);
  line-height: 42px;
  color: var(--color-secondary2);
  cursor: pointer;
}

.section-services__service-icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--color-secondary2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* projects */

.screen {
  min-height: 100vh;
  padding: var(--header-size) 50px;
}

@media (max-width: 660px) {
  .screen {
    padding: var(--header-size) 20px;
  }
}
.screen .title {
  text-align: center;
}

.projects-screen .infinite-scroll-component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
  justify-content: center;
  grid-gap: 50px;
  width: 100%;
  padding: 50px 0;
}

.section-projects__content {
  max-width: 820px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
  justify-content: center;
  grid-gap: 50px;
  width: 100%;
  padding: 50px 0;
}

.section-projects__desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project {
  position: relative;
}

.project > img {
  border-radius: 8px;
}

.project__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  scale: 0;
  transition: all 0.5 ease;
  cursor: pointer;
}

.project:hover .project__content {
  scale: 1;
}

.project__title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.project__details {
  display: flex;
}

.project__details > img {
  width: 50%;
  border-radius: 10px;
}

@media (max-width: 1070px) {
  .project__details {
    flex-direction: column;
  }
  .project__details > img {
    width: 60%;
    margin: 10px auto 0;
  }
}

@media (max-width: 660px) {
  .project__details > img {
    width: 100%;
    margin: 0;
  }
}

.project__details-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  max-height: 60vh;
  overflow: auto;
}

.project__details-container p {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-dark);
}

.technologies {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  min-height: 40px;
}

.technologies img {
  height: 40px;
  width: auto;
}

/* contact */
.section-contact__content {
  max-width: 1040px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  justify-content: center;
  grid-gap: 40px;
  width: 100%;
  padding: 50px 0;
}

.contact-form {
  width: 100%;
  background-color: var(--color-secondary2);
  border-radius: 13px;
  padding: 30px;
}

/************************************* Popup *************************************/
.popup {
  position: fixed;
  top: -100%;
  right: -100%;
  left: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 8vw;
  z-index: 1001;
  color: var(--color-primary);
  transition: all 0.2s ease;
}

.popup.open {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 186, 255, 0);
  transition: all 0.2s 0.2s ease;
}

.popup.open .popup__overlay {
  background-color: rgba(95, 186, 255, 0.4);
}

.popup__content {
  width: 100%;
  min-height: 200px;
  background-color: var(--color-secondary2);
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

/************************************* Sections nav *************************************/
.sections-nav {
  position: fixed;
  top: calc(50% - 150px);
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 15px 10px;
  border-radius: 200px;
  background: #3A334F;
  z-index: 999;
}

.sections-nav__item {
  cursor: pointer;
  font-size: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  color: var(--color-secondary2);
  transition: all 0.2s ease;
}

.sections-nav__item.active {
  background-color: var(--color-secondary2);
  color: var(--color-primary2);
}

@media (max-width: 800px) {
  .sections-nav {
    top: unset;
    bottom: 15px;
    right: calc(50% - 150px);
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
  }
}

/************************************* Form *************************************/
.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
}
.form-group + .form-group {
  margin-top: 5px;
}

label {
  color: var(--color-primary2);
  font-size: 16px;
  font-weight: 500;
}

input.form-control {
  height: 45px;
  width: 100%;
  border-radius: 13px;
  border: 2px solid rgba(21, 0, 80, 0.4);
  padding: 0 15px;
}

input.form-control:focus,
input.form-control:hover,
textarea.form-control:focus,
textarea.form-control:hover {
  outline: 0;
  border: 2px solid var(--color-primary2);
}

.form-control::placeholder {
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
  color: rgba(21, 0, 80, 0.4);
  font-weight: 500;
}

textarea.form-control {
  width: 100%;
  border-radius: 13px;
  border: 2px solid rgba(21, 0, 80, 0.4);
  padding: 10px 15px;
  resize: none;
}

textarea.form-control::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

textarea.form-control::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px 0;
}

.form-control[is-valid="false"],
.form-control[is-valid="false"]:hover {
  border-color: red;
}

.validation-message {
  color: red;
  font-size: 14px;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.submit-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 40px;
  border-radius: 13px;
  background: var(--color-bg);
  color: var(--color-secondary2);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--color-primary2);
  cursor: pointer;
  z-index: 2;
}

.submit-btn.escape {
  left: unset;
  right: 0;
}

.form-validation {
  margin-bottom: 10px;
  color: var(--color-primary2);
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(1.125rem, 1vw + 0.75rem, 1.375rem);
  line-height: 1.1;
  transition: all 0.2s ease;
}

.form-validation[valid="false"] {
  color: red;
}
/************************************* Loading *************************************/
.loading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid;
  border-top: 3px solid transparent;
  animation: spining .6s infinite;
}

@keyframes spining {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************************************* Language switcher *************************************/
.lang-switcher {
  position: relative;
}

.lang-switcher button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.lang-switcher__current {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-secondary2);
}

.lang-switcher__list {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-secondary2);
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.lang-switcher__list.open {
  height: 54px;
}

.lang-switcher__list-item {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-primary2);
  padding: 5px 10px;
  width: 100%;
}

.lang-switcher__list-item:disabled {
  color: var(--color-secondary2);
  background-color: var(--color-secondary);
}

/************************************* Icons *************************************/
@font-face {
  font-family: "icons-porfolio";
  src: url("assets/icons/icons-porfolio.eot");
  src: url("assets/icons/icons-porfolio.eot") format("embedded-opentype"),
    url("assets/icons/icons-porfolio.ttf") format("truetype"),
    url("assets/icons/icons-porfolio.woff") format("woff"),
    url("assets/icons/icons-porfolio.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons-porfolio" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-behance:before {
  content: "\e902";
}
.icon-dribble:before {
  content: "\e903";
}
.icon-visit:before {
  content: "\e904";
}
.icon-MenuContact:before {
  content: "\e90a";
}
.icon-MenuIntro:before {
  content: "\e90b";
}
.icon-MenuProjects:before {
  content: "\e90c";
}
.icon-MenuServices:before {
  content: "\e90d";
}

